.panel {
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    background-color: var(--background-secondary);
    border-top: 2px solid var(--border-strong);

    animation: slideUp 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: bottom;

    padding: 1rem;
}

@keyframes slideUp {
    from {
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}